apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: service-layer

resources:
  - ../../base

# Simulation mode patches
patches:
  - patch: |-
      - op: replace
        path: /data/OE_SIMULATION
        value: "1"
    target:
      kind: ConfigMap
      name: service-layer-config

labels:
  - includeSelectors: true
    includeTemplates: true
    pairs:
      environment: simulation
